body {
    background-color: deepskyblue;
 }
 
 h2{
     color: rgb(224, 24, 24);
 }

 h5{
     color:Gold;
 }

 h4{
     color:rgb(199, 88, 199)
 }
 h2 {
    font-family: "Times New Roman", Times, serif;
  }
h2{
    font-size:40px;
}
  
 h4{
     font-size:40px;
 }

 h5{
     font-size:40px;
 }
 